<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="DB-RSTC" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Proyectos Desarrollos\eHSEWebServices\eHSEWebServices\Database\SOC Databases\RSTC.accdb"/>-->
    <add key="DB-RSTC" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Proyectos Desarrollos\eHSEWebServices\eHSEWebServices\Database\SOC Databases\RSTC.accdb"/>
    <add key="DB-USUARIOS" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Proyectos Desarrollos\eHSEWebServices\eHSEWebServices\Database\SOC Databases\Usuarios.accdb"/>
    <add key="DB-InfoCompany" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Proyectos Desarrollos\eHSEWebServices\eHSEWebServices\Database\DBInfoCompany.accdb"/>
    <add key="DB-EWEBSERVICES" value ="Server=localhost; Uid=root; Pwd=root; Database=ehsewebservices;Convert Zero Datetime=True"/>
    <add key="DBController" value="MSAcess"/>
    <add key="GlobalConfigFile" value="config\config.cnf"/>
    <add key="LANG-ESP-Configfile" value="config\esp-leng.cnf"/>
    <add key="LANG-ENG-Configfile" value="config\eng-leng.cnf"/>
    <add key="imgtempfolder" value="images\tmp"/>
    <add key="dsignaturesfolder" value="images\encsignatures"/>
    <add key="enc-key" value="MCg07082019"/>
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
    <globalization uiCulture="es" culture="es-MX" />
  </system.web>
</configuration>