@media (min-width: 801px) {
    #Tutorials_movil {
        display:none;
    }
    #Tutorials_desktop {
        display:block;
    }
    #p_usersignature_fillform {
        width:65%;
    }
    #btn_continuar {
       width:15%;
    }
}
@media (max-width: 800px) {
    #Tutorials_movil {
        display:block;
    }
    #Tutorials_desktop {
        display:none;
    }

    #p_usreg_lbl_titlepage {
        font-size:xx-large;
    }

    #p_usreg_lbl_titleform{
        font-size:large;
    }
    #frm_userreg span {
        font-size:medium;
    }
    #p_usersignature_fillform {
        width:100%;
    }
    #btn_continuar {
        width:100%;
    }
}

#frm_userreg input {
    background-color:lightyellow;
}
