@media (min-width: 801px) {
    #Tutorials_movil {
        display:none;
    }
    #Tutorials_desktop {
        display:block;
    }
}
@media (max-width: 800px) {
    #Tutorials_movil {
        display:block;
    }
    #Tutorials_desktop {
        display:none;
    }
}