menus={|  HOME  |:index.aspx;|  Create a SOC Card |:index.aspx?p=p_createsoc;|  TRAs |:index.aspx?p=p_tras;|  HSE Deparment |:index.aspx?p=p_hsedep;|  SUPERVISORS |:index.aspx?p=p_super;|  TUTORIALS |:index.aspx?p=tutorials/tutorials}
lbl_idioma=Language :
lbl_title_createsoccard=SOC Card
p_createsoc_title_SOCCard=SAFETY OBSERVATION CARD
p_createsoc_subtitile_SOCCard=Cuida de la Seguridad y la Seguridad Cuidara de Ti
p_createsoc_lbl_name=Name
p_createsoc_lbl_location=Location
p_createsoc_lbl_observation=Observation
p_createsoc_lbl_unsafeact=Was this an unsafe act?
lbl_yes=Yes
lbl_no=No
p_createsoc_lbl_concer=What was the concern?
p_createsoc_lbl_stopjob=Did you STOP the job?
p_createsoc_lbl_titleriskobser=JOB RISK OBSERVED
p_createsoc_lbl_EPP=PPE
p_createsoc_lbl_pichcpoint=Pinch Points
p_createsoc_lbl_bodyplacement=Body Placement
p_createsoc_lbl_poorplanning=Poor Planning
p_createsoc_lbl_nobarriers=No Barriers
p_createsoc_lbl_toxicemvi=Toxic Environmental
p_createsoc_lbl_cranework=Crane Work
p_createsoc_lbl_other=Other
p_createsoc_lbl_slipfalls=Slips / Falls
p_createsoc_lbl_pwtnotinplace=PTW not in place
p_createsoc_lbl_comunication=Comunication
p_createsoc_lbl_wheater=Weather
p_createsoc_lbl_highpressure=High Pressure
p_createsoc_lbl_chemicals=Chemicals
p_createsoc_lbl_welding=Welding
p_createsoc_lbl_consern=Action Taken
p_createsoc_lbl_actionmitigaterisk=What can be done to mitigate this risk?
p_createsoc_lbl_informsupervisor=You inform the Supervisor?
p_createsoc_lbl_continue=Continue
p_createsoc_lbl_formatnumber=142.IS001.F01
p_createsoc_lbl_revisionnum=Rev. 02
p_createsoc_lbl_createsoc=Do you want to send the SOC card?
p_createsoc_lbl_titile_invalidname=You full name is required, or type anonymous.
p_createsoc_lbl_titile_invalidlocation=A location is required.
p_createsoc_lbl_titile_invalidobservation=Mention an unsafe observation.
p_createsoc_lbl_titile_invalidconsern=Mention an unsafe consern.
p_createsoc_lbl_titile_invalidactiontaken=Mention an action taken.
p_createsoc_lbl_titile_invalidactionmitigaterisk=Describe how the risk can be minimized.
t_createsoc_lbl_titile_thanks=Thank you. Your SOC card was successfully sent.
t_createsoc_lbl_titile_othercard=Do you want to create another SOC card?
t_createsoc_lbl_titile_errormain=There was an error creating your SOC card.
t_createsoc_lbl_subtitile_error=Please contact the IT department to review your error.
t_createsoc_lbl_buttonback=Back to the main page
p_index_lbl_maintoptitle=Welcome <br /> HSE Online Services
p_index_lbl_createsoc=Create your SOC Card.
p_index_lbl_createsoc_subtext=Fill you SOC Card online.	
p_index_lbl_createsoc_text=Now your can fill your SOC Card from your computer or mobile.
p_tras_MainTitile=TASK RISK ASSESSMENT (TRA)
p_tras_lbl_deparments=Deparment:
p_tras_lbl_findtra=Search TRA:
p_tras_lbl_searchtra=Search
p_tras_lbl_cleanfilter=Clean
p_tras_lbl_newTRA=New TRA
p_tras_lbl_cell_deparments=Deparment:
p_tras_lbl_cell_TRADescription=TRA - Description
p_tras_lbl_cell_Options=Options
p_tras_lbl_notdocfound=- Not Found -
p_tras_lbl_btn_open=Open
p_tras_lbl_btn_Print=Print
p_tras_lbl_btn_clone=Duplicate
p_tras_value_all=All
p_tras_lbl_opentra=Open TRA PIN No.
p_tras_lbl_btn_opentra=Open
p_tras_lbl_titletable=Established TRAs
p_createTRA_lblMainTitle=New TRA Format Request.
p_index_lbltramain=e-TRA online solution
p_index_lbltrasubtitile=e-TRA online
p_index_lblhowtocreatetra= How to create a TRA?
p_index_lblmoretutorials=More Tutorials
p_index_lbltext1= Now you can create your TRA online, from your computer, tablet or mobile.<br />
p_index_lbltext2=Click Here to create a new TRA.
p_tutorials_lblMain=Tutorials
p_tutorials_lblTitleTRA=Task Risk Assessment (TRA)