menus={|  HOME  |:index.aspx;|  Crea Tu Tarjeta SOC |:index.aspx?p=p_createsoc;|  TRAs |:index.aspx?p=p_tras;|  DEP. DE SEGURIDAD |:index.aspx?p=p_hsedep;|  SUPERVISORES |:index.aspx?p=p_super}
lbl_idioma=Idioma
lbl_title_createsoccard= Tarjeta SOC
p_createsoc_title_SOCCard=TARJETA DE OBSERVACION DE SEGURIDAD
p_createsoc_subtitile_SOCCard=Cuida de la Seguridad y la Seguridad Cuidara de Ti
p_createsoc_lbl_name=Nombre
p_createsoc_lbl_location=Ubicaci&oacute;n
p_createsoc_lbl_observation=Observaci&oacute;n
p_createsoc_lbl_unsafeact=&#191;Fu&eacute; un acto inseguro?
lbl_yes=Si
lbl_no=No
p_createsoc_lbl_concer=&#191;Cu&aacute;l fue la situaci&oacute;n?
p_createsoc_lbl_stopjob=&#191;Detuvo usted el trabajo?
p_createsoc_lbl_titleriskobser=RIESGOS DEL TRABAJO OBSERVADO
p_createsoc_lbl_EPP=EPP
p_createsoc_lbl_pichcpoint=Atrapamiento
p_createsoc_lbl_bodyplacement=Posici&oacute;n del Cuerpo
p_createsoc_lbl_poorplanning=Probre Planeaci&oacute;n
p_createsoc_lbl_nobarriers=Sin Barreras
p_createsoc_lbl_toxicemvi=Ambiente T&oacutexico
p_createsoc_lbl_cranework=Trabajo Con Gr&uacute;a
p_createsoc_lbl_other=Otro
p_createsoc_lbl_slipfalls=Resbal&oacute;n / Caidas
p_createsoc_lbl_pwtnotinplace=Sin PTD en Sitio
p_createsoc_lbl_comunication=Comunicaci&oacute;n
p_createsoc_lbl_wheater=Cond. Meteorologica
p_createsoc_lbl_highpressure=Alta Presi&oacuten
p_createsoc_lbl_chemicals=Qu&iacute;micos
p_createsoc_lbl_welding=Soldadura
p_createsoc_lbl_consern=Acci&oacute;n Tomada
p_createsoc_lbl_actionmitigaterisk=&#191;Qu&eacute; se puede hacer para minimizar este riesgo?
p_createsoc_lbl_informsupervisor=&#191;Inform&oacute; al Supervisor?
p_createsoc_lbl_continue=Continuar
p_createsoc_lbl_formatnumber=142.IS001.F01
p_createsoc_lbl_revisionnum=Rev. 02
p_createsoc_lbl_createsoc=&#191;Desea enviar la SOC card?
p_createsoc_lbl_titile_invalidname=Se requiere tu nombre completo o Captura an&oacute;nimo.
p_createsoc_lbl_titile_invalidlocation=Se Requiere una ubicaci&oacute;n
p_createsoc_lbl_titile_invalidobservation=Menciona una observaci&oacute;n.
p_createsoc_lbl_titile_invalidconsern=Menciona una situaci&oacute;n.
p_createsoc_lbl_titile_invalidactiontaken=Menciona una acci&oacute;n tomada.
p_createsoc_lbl_titile_invalidactionmitigaterisk=Describe como se puede minizar el riesgo.
t_createsoc_lbl_titile_thanks=Gracias.<br/> Tu tarjeta SOC fue enviada con &eacute;xito.
t_createsoc_lbl_titile_othercard=&#191;Deseas crear otra tarjeta SOC?
t_createsoc_lbl_titile_errormain=Ha habido un error al crear tu tarjeta SOC.
t_createsoc_lbl_subtitile_error=Por favor,  ponte en contacto con el departamento de TI para revisar tu error.
t_createsoc_lbl_buttonback=Regresar a la pagina principal
p_index_lbl_maintoptitle=Bienvenido <br /> Servicios de HSE en linea
p_index_lbl_createsoc=Crea tu Tarjeta SOC.
p_index_lbl_createsoc_subtext=Realiza tu tarjeta soc en linea.
p_index_lbl_createsoc_text=Llena tu tarjeta soc desde tu computadora o movil.