menus={|  HOME  |:index.aspx;|  Crea Tu Tarjeta SOC |:index.aspx?p=soc/p_createsoc;|  TRAs |:index.aspx?p=p_tras;|  DEP. DE SEGURIDAD |:index.aspx?p=p_hsedep;|  SUPERVISORES |:index.aspx?p=p_super;|  TUTORIALES |:index.aspx?p=tutorials/tutorials}
menus_user={Mi Perfil:index.aspx?p=userinfo/p_useraccount;Mis Datos:index.aspx?p=userinfo/p_userinfo}
lbl_gretings=Hola
lbl_logout=Cerrar Sessi&oacute;n
lbl_login=INICIAR SESSION
lbl_myprofile=MI PERFIL
lbl_idioma=Idioma
lbl_title_createsoccard= Tarjeta SOC
lbl_continue=Continuar
lbl_back=Regresar
lbl_save=Guardar
lbl_day=Dia
lbl_month=Mes
lbl_year=A&ntilde;o
lbl_yes=Si
lbl_no=No
lbl_ok=OK
menu-control_lbl_electronicsignature=Mi Firma Electr&oacute;nica
p_createsoc_title_SOCCard=TARJETA DE OBSERVACION DE SEGURIDAD
p_createsoc_subtitile_SOCCard=Cuida de la Seguridad y la Seguridad Cuidara de Ti
p_createsoc_lbl_name=Nombre
p_createsoc_lbl_location=Ubicaci&oacute;n
p_createsoc_lbl_observation=Observaci&oacute;n
p_createsoc_lbl_unsafeact=&#191;Fu&eacute; un acto inseguro?
p_createsoc_lbl_concer=&#191;Cu&aacute;l fue la situaci&oacute;n?
p_createsoc_lbl_stopjob=&#191;Detuvo usted el trabajo?
p_createsoc_lbl_titleriskobser=RIESGOS DEL TRABAJO OBSERVADO
p_createsoc_lbl_EPP=EPP
p_createsoc_lbl_pichcpoint=Atrapamiento
p_createsoc_lbl_bodyplacement=Posici&oacute;n del Cuerpo
p_createsoc_lbl_poorplanning=Probre Planeaci&oacute;n
p_createsoc_lbl_nobarriers=Sin Barreras
p_createsoc_lbl_toxicemvi=Ambiente T&oacutexico
p_createsoc_lbl_cranework=Trabajo Con Gr&uacute;a
p_createsoc_lbl_other=Otro
p_createsoc_lbl_slipfalls=Resbal&oacute;n / Caidas
p_createsoc_lbl_pwtnotinplace=Sin PTD en Sitio
p_createsoc_lbl_comunication=Comunicaci&oacute;n
p_createsoc_lbl_wheater=Cond. Meteorologica
p_createsoc_lbl_highpressure=Alta Presi&oacuten
p_createsoc_lbl_chemicals=Qu&iacute;micos
p_createsoc_lbl_welding=Soldadura
p_createsoc_lbl_consern=Acci&oacute;n Tomada
p_createsoc_lbl_actionmitigaterisk=&#191;Qu&eacute; se puede hacer para minimizar este riesgo?
p_createsoc_lbl_informsupervisor=&#191;Inform&oacute; al Supervisor?
p_createsoc_lbl_continue=Continuar
p_createsoc_lbl_formatnumber=142.IS001.F01
p_createsoc_lbl_revisionnum=Rev. 02
p_createsoc_lbl_createsoc=&#191;Desea enviar la SOC card?
p_createsoc_lbl_titile_invalidname=Se requiere tu nombre completo o Captura an&oacute;nimo.
p_createsoc_lbl_titile_invalidlocation=Se Requiere una ubicaci&oacute;n
p_createsoc_lbl_titile_invalidobservation=Menciona una observaci&oacute;n.
p_createsoc_lbl_titile_invalidconsern=Menciona una situaci&oacute;n.
p_createsoc_lbl_titile_invalidactiontaken=Menciona una acci&oacute;n tomada.
p_createsoc_lbl_titile_invalidactionmitigaterisk=Describe como se puede minizar el riesgo.
t_createsoc_lbl_titile_thanks=Gracias.<br/> Tu tarjeta SOC fue enviada con &eacute;xito.
t_createsoc_lbl_titile_othercard=&#191;Deseas crear otra tarjeta SOC?
t_createsoc_lbl_titile_errormain=Ha habido un error al crear tu tarjeta SOC.
t_createsoc_lbl_subtitile_error=Por favor,  ponte en contacto con el departamento de TI para revisar tu error.
t_createsoc_lbl_buttonback=Regresar a la pagina principal
p_index_lbl_maintoptitle=Bienvenido <br /> Servicios de HSE en linea
p_index_lbl_createsoc=Crea tu Tarjeta SOC.
p_index_lbl_createsoc_subtext=Realiza tu tarjeta soc en linea.
p_index_lbl_createsoc_text=Llena tu tarjeta soc desde tu computadora o movil.
p_tras_MainTitile=Valoraci&oacute;n de Riesgo en la Tarea (TRA)
p_tras_lbl_deparments=Departamentos:
p_tras_lbl_findtra=Buscar TRA:
p_tras_lbl_searchtra=Filtrar
p_tras_lbl_cleanfilter=Limpiar Filtro
p_tras_lbl_newTRA=Crear Nuevo TRA
p_tras_lbl_cell_deparments=Departamento:
p_tras_lbl_cell_TRADescription=TRA - Descripci&oacute;n
p_tras_lbl_cell_Options=Opciones
p_tras_lbl_notdocfound=- Sin documentos -
p_tras_lbl_btn_open=Ver
p_tras_lbl_btn_Print=Imprimir
p_tras_lbl_btn_clone=Copiar
p_tras_value_all=Todos
p_tras_lbl_opentra=Abrir TRA PIN No.
p_tras_lbl_btn_opentra=Abrir
p_tras_lbl_titletable=TRA Establecidos
p_createTRA_lblMainTitle=Solicitud de nuevo TRA
p_index_lbltramain=e-TRA solucion en linea
p_index_lbltrasubtitile=e-TRA en linea
p_index_lblhowtocreatetra= &#191;Como crear un TRA?
p_index_lblmoretutorials=Ver m&aacute;s tutoriales
p_index_lbltext1= Ahora puedes crear tu TRA en linea, en tu computador, portail y mobil.<br />
p_index_lbltext2=Preciona aqu&iacute; para crear tu TRA
p_tutorials_lblMain=Tutoriales
p_tutorials_lblTitleTRA=Valoraci&oacute;n de Riesgo en la Tarea (TRA)
p_messagesavereg_lblmain_title=Registro de usuario
p_messagesavereg_lblmain_btnback=Regresar
p_messagesavereg_lblerror_usernamereg=Hubo un error al guardar el registro, El nombre que intenta registrar ya se encuentra almacenado en nuestros registros.
p_messagesavereg_lblerror_userlogre=Hubo un error al guardar el registro, El numero de empleado(nombre de usuario) que intenta registrar, ya se encuentra en uso.
p_messagesavereg_lblerror_userconfirm=Su Registro se a completado exitosamente.
p_userregistration_lblMain_Title=Registro de Usuario
p_userregistration_lblMain_Subtitle=Datos Generales
p_userregistration_lblcompleteName=Nombre Completo
p_userregistration_inputplaceholder_names=Nombre(s)
p_userregistration_inputinvalid_names=Se requiere su nombre(s).
p_userregistration_inputplaceholder_lastname1=Apellido Paterno
p_userregistration_inputinvalid_lastname1=Se requiere su apellido paterno.
p_userregistration_inputplaceholder_lastname2=Apellido Materno
p_userregistration_inputinvalid_lastname2=Se requiere su apellido materno.
p_userregistration_lblemail=Correro Electronico (email)
p_userregistration_inputplaceholder_email=email
p_userregistration_inputinvalid_email=Ingrese correctamente su correo electronico.
p_userregistration_lbluserlogin=Numero de Empleado(Usuario de login)
p_userregistration_inputplaceholder_userlogin=Numero de empleado o usuario de login
p_userregistration_inputinvalid_userlogin=Ingrese su numero de empleado o usuario de login.
p_userregistration_lblnewpassword=Nueva Contrase&ntilde;a
p_userregistration_inputplaceholder_newpassword=Nueva Contrase&ntilde;a
p_userregistration_inputinvalid_newpassword=Las consase&ntilde;as no coinciden.
p_userregistration_lblconfirmpassword=Confirmar Nueva Contrase&ntilde;a
p_userregistration_inputplaceholder_confirmpassword=Confirmar Contrase&ntilde;a
p_userregistration_inputinvalid_invalidconfirmpassword=Las consase&ntilde;as no coinciden.
p_userregistration_inputcheck_showpass=Ver Contrase&ntilde;a
p_confirmregistration_lblMain_Title=Registro de Usuario
p_confirmregistration_lblMain_Subtitle=Confirmar Datos.
p_confirmregistration_lblMain_completename=Nombre Completo
p_confirmregistration_lblMain_email=Correro Electronico (email)
p_confirmregistration_lblMain_userlogin=Numero de Empleado(Usuario de login)
p_login_lblMainTitle=Inicie su Sessi&oacute;n
p_login_lblinvalidlogin=Usuario o contrase&ntilde;a invalida. Verifique sus datos.
p_login_lblLoginTitle=INICIA TU SESSION
p_login_lblLoginText=Introduce tu usuario y contrase&ntilde;a
p_login_lblloginUserLogin=Num. Empleado(Usuario de login)
p_login_lblLoginUserPass=Contrase&ntilde;a
p_login_btnLogin=Iniciar Sessi&oacute;n
p_login_lblRegisterTitle=REGISTRATE
p_login_lblRegisterText=Si no cuenta con usuario y contrase&ntilde;a inicie su proceso de registro en el siguiente boton.
p_login_btnRegister=REGISTRATE
p_useraccount_lblMain=Mi Perfil
p_useraccount_lblerror=Error al cambiar tu contrase&ntilde;a, por favor intente de nuevo.
p_useraccount_lblsuccess= Tu contraseña se ha cambiado con exito
p_useraccount_lblerror_info=Error al guardar tus cambios, por favor intente de nuevo.
p_useraccount_lblsuccess_info=Tus datos se han guardado con exito.
p_useraccount_lblpass_subtitle=Mi Perfil de Usuario
p_useraccount_lblpass_text=Cambia tu contrase&ntilde;a
p_useraccount_input_newpassword=Nueva Contrase&ntilde;a
p_useraccount_input_confirmpassword=Confirmar Contrase&ntilde;a
p_useraccount_input_showpassword=Ver Contrase&ntilde;a
p_useraccount_button_showpassword=Cambiar
p_useraccount_lbl_companyinfo=Informacion de Trabajo
p_useraccount_input_company=Compa&ntilde;ia:
p_useraccount_input_workunit=Unidad de trabajo:
p_useraccount_input_deparment=Departamento:
p_useraccount_input_category=Categoria:
p_useraccount_input_guard=Guardia:
p_useraccount_button_update=Actualizar
p_userinfo_lbl_maintitle=Mis Datos Personales
p_userinfo_lbl_invliddateselected=Error en la fecha seleccionada, por favor ingrese una fecha valida.
p_userinfo_lbl_errorupdateinfo=Error al actualizar la informacion, por favor intente de nuevo.
p_userinfo_lbl_birthday=Fecha de nacimiento
p_userinfo_input_address=Direcci&oacute;n Completa
p_userinfo_input_rfc=RFC
p_userinfo_input_phonemovile=Tel&eacute;fono Mobil
p_userinfo_input_phoneemergency=Tel&eacute;fono De Emergencia
p_userinfo_input_emergencyname=Nombre de contacto de emergencia
p_userinfo_btn_updateinfo=Actualizar
p_usersignature_lbl_maintitle=Firma El&eacute;ctronica
p_usersignature_lbl_errormessage=Error al actualizar la firma, por favor intente nuevamente.
p_usersignature_lbl_subtitleform=Mi Firma
p_usersignature_lbl_textselectfile=1. Selecione su archivo digital
p_usersignature_lbl_textspecsfile=Especificaciones  de archivo
p_usersignature_lbl_textspecsfile1=Formato de Archivo: Imagen extencion .PNG
p_usersignature_lbl_textspecsfile2=Tama&ntilde;o de imagen: 200px Largo X 100px de Alto
p_usersignature_input_lblfileselect=Archivo de Firma electronica
p_usersignature_lbl_erroruploadfile=Error al guardar la imagen, por favor intente de nuevo.
p_usersignature_lbl_newpass=2. Nueva Contraseña para la firma
p_usersignature_lbl_showsignature=Muestra de Firma el&eacute;ctronica, cargada.
p_usersignature_btn_changesignature=Cambiar Firma El&eacute;ctronica